.search_form {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.form_input{
  width: 35%;
  border-radius: 15px;
  padding: 10px 35px;
}

.search_icon{
  position: relative;
  left: 35px;
  top: 5px;
  font-size: 20px;
}

.celeb_container{
  margin: 25px 31.5%;
  max-width: 38%;
  border: 1px solid rgb(48, 73, 67);
  padding: 10px 0 10px 5px;
  border-radius: 20px;
  /* white-space: pre; */
}

.celeb_images{
  border: 1px solid;
  border-radius: 25px;
  width: fit-content;
  height: 50px;
}

.celeb_name{
  height: 100%;
  position: relative;
  bottom: 22px;
  left: 10px;
}

.click_info{
  position: absolute;
  cursor: pointer !important;
  left: 66%;
  margin-top: 20px;
  font-size: 20px;
}

.disp_flex{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 10px 20px;
}

.disp_flex a {
  display: block !important;
}

.desc{
  max-width: 100%;
  margin: 0 20px;
}
.desc p{
  word-wrap: break-word !important;
}

.red{
  color: red;
  cursor: pointer;
}

.blue{
  color: blue;
  margin-left: 6px;
  cursor: pointer;
}

.icons{
  font-size: 25px;
  margin: 0px 20px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popup {  
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5); 
}
.popup_inner {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 40%;
  bottom: 40%;
  background: #0bc1cf;
}

.popup-box{
  margin: 20px;
}

.dialog_btns > button{
   cursor: pointer;
   padding: 5px 10px;
   border-radius: 10px;
   font-size: 15px;
   margin: 0 5px;
}

.dialog_btns{
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.edit_area{
  width: 100px;
}

.description{
  box-sizing: border-box;
  word-wrap: break-word;
  height: 120px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.c_ptr{
  cursor: pointer;
  font-size: 27px;
  color: red;
}

.round_bd{
  cursor: pointer;
  border: 2px solid;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  bottom: 3px;
  color: blue;
}

@media (max-width: 768px) {
  .celeb_container{
    max-width: 100% !important;
    margin: 15px
  }
  .form_input{
    width: 50%;
  }
  .click_info{
    left: 85%;
  }
  .edit_area{
    width: 80px;
  }
  .edit_area1{
    width: 50px !important;
  }
  .c_ptr{
    position: relative;
    bottom: 3px;
  }
}